@font-face {
    font-family: 'nerko_oneregular';
    src: url('nerkoone-regular-webfont.woff2') format('woff2'),
         url('nerkoone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ranchersregular';
    src: url('ranchers-regular-webfont.woff2') format('woff2'),
         url('ranchers-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body{
	/* Website background (outside) blue */
	background: #89D3D4;
	text-align: center;
}
#main{
	width:1000px;
	height:600px;
	 /* Website background (inside) orange */
	background: #F4AF86;
	margin: 25px auto;
	border: dotted 10px #8e7d8e;
}
h1{
	/* Heading Font*/
	text-align:center;
	font-family:'nerko_oneregular';
	font: 24pt;
	color: #171417;
}
hr{
	/* Boarder */
	color:  #00203F;
	border: dotted 10px #00203F;
}
p{
	/* Body Font*/
	font-family:'ranchersregular';
	font-size: 12pt;
	text-align: left;
}

<!--Images Placed Here-->
.wrapper{
	margin: 0 auto;
	width:1000px;
}

.img-duck{
	width: 300px;
}
